.backgroud {
    background-color: #CF9B93;;
}
.backgroud-a {
    // background-color: #fff;
    img {
        opacity: 0.6;
      }
}

.carousel-caption {
    color: #000000 !important;
    margin-bottom: 15rem;
    h1 {
        font-size: 5rem !important;
        align-items: center !important;
        font-weight: 800 !important;
    }

}

@media screen and (max-width: 570px) {
    .carousel-caption {
        margin-bottom: 2rem;
        h1 {
            font-size: 2.2rem !important;
            margin: 0 !important;
        }
    }    
}

a {
    text-decoration: none !important;
}